body {
    position: relative;
}

.container__add-project {
    display: none;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    color: black;
    position: absolute;
    top: -50%;
    left: 30%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 0 300px 600px rgba(0, 0, 0, 0.5);
        /* Box-shadow para a div */
}

.titles--title {
    font-size: 24px;
    color: rgba(81, 82, 85, 1);
    margin-bottom: 2%;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: relative;
}

.container__img {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.input-container {
    height: 100%;
    background-color: rgba(230, 233, 242, 1);
    display: flex;
    flex-direction: row;
    margin: 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    /* Ensure the image doesn't overflow the container */
}

.input-container input {
    flex-grow: 1;
    opacity: 0;
    z-index: 2;
}

.input-container input:hover {
    cursor: pointer;
}

.additional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.additional-content .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-container .titles {
    width: 90%;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
    color: rgb(100, 102, 107);
}

.container__input{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.23);
}
.container__input input, .container__input textarea{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 2%;
}

.container__input input{
    height: 40px;
}

.container__input textarea{
    max-height: 150px; 
    resize: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
}

.buttons input, .buttons button{
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    transition: all .6s ease-out;
}

.buttons input:hover:hover, .buttons button:hover:hover{
    cursor: pointer;
}

.buttons input:hover{
    background-color: rgba(255, 86, 34, 0.87);
}

.buttons input{
    background-color: rgba(255, 85, 34, 1);
    width: 49%;
    color: #fff;
}

.buttons button{
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    width: 49%;
}

.buttons button:hover{
    background-color: rgba(0, 0, 0, 0.048);
}

.view{
    margin: 2% 0;
    text-decoration: none;
    color: rgba(81, 82, 85, 1);
}

.cad-sucess{
    position: absolute;
    top: 35%;
    left: 40%;
    height: 240px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 300px 600px rgba(0, 0, 0, 0.5);
}

.cad-sucess p{
    color: #515255;
    font-size: 24px;
    text-align: center;
}

.cad-sucess i{
    color: green;
    font-size: 24px;
    margin: 15px 0;
}

.cad-sucess button{
    background-color: #FF5522;
    border: none;
    height: 40px;
    width: 80%;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 5px -3px #9e9e9e;
}
