.container{
    height: 90vh;
    flex-direction: column;
    display: flex;
    margin-top: 3%;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.info__user--foto{
    margin-right: 20px;
}

.info__user--foto img{
    border-radius: 90px;
}

.info__user--informacoes{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#name{
    font-size: 1.5em;
}

#nationality{
    color: rgb(87, 95, 104);
}

.btn__add-project{
    height: 40px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.38);
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.12);
    transition: all .3s ease-out;
}

.btn__add-project:hover{
    background-color: rgba(49, 49, 49, 0.12);
    cursor: pointer;
}

.container__projects{
    padding: 0 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.find{
    height: auto;
    width: 100%;
}

.find p{
    color: #1b1e20;
    font-weight: 500;
    font-size: 20px;
}

.find input{
    margin-top: 1%;
    height: 52px;
    width: 45%;
    border-color: #0000003B;
    outline: none;
    border-radius: 5px;
    padding-left: 1%;
}

.projects{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    flex-wrap: wrap;
}

.projects div{
    margin: 0 2% 2% 0;
}

.card__project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    padding-left: 4%;
    text-align: left;
    border: none;
    border-radius: 5px;
    transition: all .4s ease-out;
}

.project{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.input-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__project:hover{
    background-color: #0000003B;
    cursor: pointer;
}

.titles{
    padding-left: 5% ;
    color: rgba(48, 49, 51, 1);
    margin-top: 5%;
    width: 90%;
    font-size: 16px;
}

.titles__title{
    font-size: 14px;
    margin-top: 4%;
}

#container__update-project{
    display: none;
    box-shadow: 0 0 300px 600px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 12%;
    left: 25%;
    padding: 2%;
}

#container__update-project .container__input{
    justify-content: space-around;
}

/*Resposnsividade perfil*/
@media screen and (min-width: 295px)  and (max-width: 661px){
    .container{
        margin-top: 5%;
    }
    
    .info{
        flex-direction: column;
    }


    .find input{
        width: 100%;
    }
    .projects div{
        margin: 0 auto;
    }

    .card__project{
        margin: 0 auto;
        width: 90%;
        height: 250px;
    }
}