


@media screen and (max-width: 661px) {
    .container__projects{
        margin-top: 8%;
    }

    .container__add-project {
        width: 200px;
        height: 580px;
    }


    .container__add-project .form-container {
        flex-direction: column-reverse;
        justify-content: start;
        height: 100%;
    }

    .container__add-project .container__input {
        width: 100%;
        height: 200px;
    }

    .container__add-project .container__img {
        width: 100%;
    }

    .container__add-project #description {
        height: 60px;
    }

    .container__add-project .text {
        margin: 5% 0;
    }

    .container__add-project .input-container {
        height: 150px;
    }

    .container__add-project .additional-content {
        top: 20%;
    }

    .container__add-project .additional-content .titles {
        padding-left: 2px;
    }

    .container__add-project .buttons {
        width: 100%;
    }
}

@media screen and (min-width: 661px)and (max-width: 700px){
    .container__add-project {
        left: 20%;
        width: 300px;
        height: 550px;
    }

    .container__add-project .form-container {
        flex-direction: column-reverse;
        justify-content: start;
    }

    .container__add-project .container__input {
        width: 100%;
        height: 200px;
    }

    .container__add-project .container__img {
        width: 80%;
        height: auto;
    }

    .container__add-project #description {
        height: 60px;
    }

    .container__add-project .text {
        margin: 5% 0;
    }

    .container__add-project .input-container {
        height: 150px;
    }

    .container__add-project .additional-content {
        top: 20%;
    }

    .container__add-project .additional-content .titles {
        padding-left: 2px;
    }

    .container__add-project .buttons {
        width: 100%;
    }
}